<footer class="site-footer">
  <div class="footer-inner">
    <div class="footer-brand">&copy; {{ site.time | date: '%Y' }} Django Software Foundation</div>
    <ul class="footer-links">
      <li><a href="https://www.djangoproject.com/">djangoproject.com</a></li>
      <li><a href="https://github.com/django/dsf-minutes">GitHub</a></li>
      <li><a href="https://forum.djangoproject.com/">Forum</a></li>
      <li><a href="{{ site.baseurl }}/feed.xml">RSS Feed</a></li>
    </ul>
  </div>
</footer>
